.header{
    background-color: #030316;
    color: white;
    }
    .header-container{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    }
    .font1-5{
        font-size: 1.2rem;
        color: white;
    }
    /* .logo{
         font-size: 1.5rem; 
    } */
    .left-section{
    text-decoration: none;
    }
    /* .middle-section{
    
    } */
    .find-me-text{
        font-size: 1rem;
    }
    .right-section{
        display: flex;
    }
    .right-section .social-links{
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
        padding: 0 .3rem;
    }
    /* .social-links .social-icons{
    } */
    @media only screen and (max-width:800px) {
        .middle-section{
            display: none;
        }
        /* .find-me-text{
            display: inherit;
            font-size: 1rem;
        } */
    }